.playlist-generator {
  padding: 20px;
  width: 100%;
  height: 100%;
  border-radius: 40px;
  background-color: #07120D;
  box-shadow: 
    0 0 200px 100px rgba(62, 228, 121, 0.3),
    0 0 300px 20px rgba(62, 228, 121, 0.2); 
}

.playlist-generator h3 {
  font-size: 32px;
  font-weight: 700;
  text-align: left;
  margin-top: auto;
  margin-left: 20px;
  margin-bottom: 20px;
}

/* SEARCH INPUT */
.search-container {
  margin: 20px 0;
}

.search-input {
  width: 80%;
  height: 60px;
  border-radius: 30px;
  background-color: #575757;
  font-size: 16px;
  border: none;
  outline: none;
  padding: 0 25px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.search-input::placeholder {
  color: #a0a0a0;
  font-weight: 800;
}

/* ARTISTS CONTAINER */
.artists-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  gap: 20px;
  margin-top: 20px;
}

.artist-circle {
  text-align: center;
}

.artist-circle img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
}

.artist-circle p {
  margin-top: 8px;
  font-size: 14px;
} 