/* src/App.css */
.App {
  text-align: center;
}

body {
  margin: 0;
  padding: 0;
  background-color: #000000;
  min-height: 200vh; /* Added to test scroll behavior */
}

.home-page {
  color: #ffffff;
}

.home-page h1 {
  position: absolute;
  font-size: 58px;
  font-weight: 700;
  top: 50%;
  left: 40px;
  right: 60%;
  text-align: left;
  line-height: 1.2;
  transform: translateY(-50%);
  margin: 0;  /* not sure if i need this */
  white-space: nowrap;
}

.description {
  left: 40px;
  text-align: center;
  align-items: center;
}

.description p {
  font-size: 32px;
  font-weight: 400;
  left: 40px;
  text-align: left;
  line-height: 1.4;
  white-space: nowrap;
}

/* TODO: add a shadow to the button */
.generate-button {
  margin-top: 0px;  /* decrease it */
  padding: 15px 30px;
  font-size: 18px;
  font-weight: 800;
  color: #ffffff;
  background-color: #1DCB5A;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  align-items: center;
  transition: all 0.3s ease;
}

.generate-button:hover {
  background-color: #1ed760;
  transform: scale(1.05);
}

/* Video on the right side */
.content-right {
  position: absolute;
  flex: 1;
  right: 100px;
  top: 15%;
  width: 40%;
  max-width: 420px;
}

.playlist_generation_view {
  max-width: 100%;
  height: auto;
  border-radius: 20px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3);
}



