/* src/App.css */
.App {
  text-align: center;
}

body {
  margin: 0;
  padding: 0;
  background-color: #000000;
  min-height: 200vh;
}

.home-page {
  color: #ffffff;
}

.homepage-content {
  position: absolute;
  top: 40%;
  left: 40px;
  right: 60%;
  line-height: 1.2;
  transform: translateY(-50%);
  margin: 0;
  text-align: left;
  white-space: nowrap;
}

.homepage-content h1 {
  font-size: 58px;
  font-weight: 700;
}

.homepage-content .description {
  position: absolute;
  align-items: center;
  line-height: 1.4;
}

.homepage-content .description p {
  font-size: 32px;
  font-weight: 400;
  text-align: left;
}

/* TODO: add a shadow to the button */
.homepage-content .generate-button {
  margin-top: 0px;  /* decrease it */
  padding: 15px 30px;
  font-size: 18px;
  font-weight: 800;
  color: #ffffff;
  background-color: #1DCB5A;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  align-items: center;
  transition: all 0.3s ease;
}

.generate-button:hover {
  background-color: #1ed760;
  transform: scale(1.05);
}

/* Video on the right side */
.content-right {
  position: absolute;
  flex: 1;
  right: 8%;
  top: 15%;
  width: 40%;
  max-width: 420px;
}

.playlist_generation_view {
  max-width: 100%;
  height: auto;
  border-radius: 85px;
  box-shadow: 0 4px 300px rgba(62, 228, 121, 0.5);
}

/* HOME PAGE: Mobile Adjustments */
@media (max-width: 768px) {
  .body {
    overflow-x: hidden;
  }

  .home-page h1 {
    font-size: 36px;
    left: 15px;
  }

  .description p {
    font-size: 20px;
  }

  .generate-button {
    margin-top: 0px;
    padding: 10px 20px;
    font-size: 14px;
  }

  .content-right {
    margin-top: 500px;
    width: 50%;
    max-width: 350px;
  }
}



/* INFO SECTION */
.info {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  align-items: center;
  justify-content: center;
  text-align: center;
  top: calc(50% + 950px);
  color: #ffffff;
  margin: 0;
}

.info h2 {
  font-size: 58px;
  font-weight: 700;
  text-align: center;
  line-height: 1.4;
  margin-bottom: 20px;
}

.info .description p {
  font-size: 32px;
  font-weight: 400;
  text-align: center;
  text-wrap: balance;
  line-height: 1.4;
}



/* TEST SECTION */
.test-section {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: calc(50% + 1900px);
  width: 100%;
  text-align: center;
  color: #ffffff;
}

.test-section h2 {
  font-size: 58px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 20px;
}

.test-section .description p {
  margin-top: 20px;
  font-size: 32px;
  font-weight: 400;
  text-align: center;
  text-wrap: balance;
}

.test-container {
  display: flex;
  width: 980px;
  height: 600px;
  background-color: #1DCB5A;
  border-radius: 50px;
  align-items: center;
  justify-content: center;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}



/* FEATURES SECTION */
.features {
  position: absolute;
  top: calc(50% + 3100px);
  left: 50%;
  transform: translateX(-50%);
  color: #ffffff;
  width: 100%;
}

.features h2 {
  font-size: 58px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 20px;
}

.features .description p {
  font-size: 32px;
  font-weight: 400;
  text-align: center;
  text-wrap: balance;
}

.features .features-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  width: 100%;
}

.features-container .feature-item {
  border-radius: 40px;

}