/* src/App.css */
.App {
  text-align: center;
  font-family: 'Helvetica', 'Arial', sans-serif;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 16px; /* Adjust base font size as needed */
  line-height: 1.5; /* Improve readability */
  color: #333; /* Adjust text color as needed */
  background-color: black;
}

.hero-section {
  /*background-image: url('images/welcome_gradient_web.gif');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  */
  background-color: black;
  color: white;
  padding: 150px 20px;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow:scroll;
}

.app-views-image {
  width: 100%;
  position: absolute;
  margin-top: 20px;
  position: absolute;
  bottom: -500px;
}

.hero-section h1 {
  font-size: 3rem;
  margin: 0;
}

.hero-section p {
  font-size: 1.5rem;
  margin: 20px 0;
}


.cta-button {
  padding: 15px 30px;
  background-color: #1dcb5a;
  color: #ffffff;
  font-weight: 900;
  border-radius: 25px;
  text-decoration: none;
  margin-top: 15px;
  font-size: 1.2rem;
  transition: background-color 0.3s;
}

.cta-button:hover {
  background-color: white;
  color: #1dcb5a;
}

/* Download Section */
.main-button {
  padding: 40px 20px; /* Add padding for spacing */
  text-align: center; /* Center the text */
  background-color: #f9f9f9; /* Light background color */
}

.main-button h2 {
  font-size: 28px; /* Heading size */
  margin-bottom: 20px; /* Space below the heading */
}

.main-buttonn p {
  font-size: 18px; /* Description text size */
  max-width: 600px; /* Limit the width of the text */
  margin: 0 auto; /* Center the paragraph */
}

.main-button {
  display: inline-block;
  padding: 10px 20px; /* Button padding */
  background-color: rgb(91, 91, 91); /* Button color */
  color: #fff; /* Button text color */
  text-decoration: none; /* Remove underline */
  border-radius: 25px; /* Rounded corners */
  transition: background-color 0.3s; /* Smooth background color transition */
}

.main-button:hover {
  background-color: #1e8b45; /* Darker color on hover */
}

/* App Description Section */
.app-description-section {
  color: white;
  padding: 20px 20px;
  text-align: center; /* Center the text */
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-description-box {
  border: 2px solid #1db954; /* White border with 80% opacity */
  padding: 20px;
  border-radius: 25px;
  max-width: 600px;
}

.app-description-section h2 {
  font-size: 37px;
  color: white;
  margin-bottom: 30px;
}

.app-description-section p {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  max-width: 1000px;
  margin: 0 auto;
  margin-bottom: 30px;
}

/* Features Section */
.features-section {
  padding: 20px 20px;
  text-align: center;
}

.features-section h2 {
  font-size: 2.5rem;
  margin-bottom: 30px;
}

.features {
  display: flex;
  justify-content: center;
  gap: 50px;
}

.feature {
  background-color: #f9f9f9;
  border-radius: 25px;
  padding: 20px;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
  max-width: 300px;
}

.feature h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.feature p {
  font-size: 1.1rem;
}

.cta-section {
  background-color: #f1f1f1;
  padding: 40px 20px;
}

.cta-section h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.signup-section {
  padding: 50px 20px;
  background-color: #282c34;
  color: white;
}

.signup-section h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.signup-section form {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.signup-section input {
  padding: 10px;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
}

.signup-section button {
  padding: 10px 20px;
  background-color: #61dafb;
  border: none;
  color: #282c34;
  border-radius: 5px;
  font-size: 1rem;
}

footer {
  background-color: #000000;
  color: white;
  padding: 20px 0;
  font-size: 0.8rem;
}
