.success-message {
  color: #1db954;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  margin-top: 10px;
}

.error-message {
  color: red;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  margin-top: 10px;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 3s ease;
  z-index: 1000;
  pointer-events: none;
}

.modal-overlay.open {
  opacity: 1;
  pointer-events: all;
}

.modal-content {
  font-family: Arial, Helvetica, sans-serif;
  border: 1px solid #1db954;
  background: #201f1f;
  border-radius: 25px;
  padding: 20px;
  text-align: center;
  align-items: center;
  max-width: 400px;
  width: 90%;
  position: relative;
}

.close-button {
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 15px;
  font-size: 1.7rem;
  border: none;
  background-color: transparent;
  color: #1db954;
  cursor: pointer;
  transition: color 0.3s;
}

.email-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
}

.email-input {
  padding: 10px;
  font-size: 1rem;
  border-radius: 25px;
  border: 2px solid #1db954;
  margin-bottom: 10px;
  width: 250px;
  height: 30px;
}

.cta-button {
  padding: 15px;
  font-size: 1.1rem;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #1db954;
  color: white;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.cta-button:hover {
  background-color: #ffffff; /* Darker green on hover */
  color: #1db954
}