.body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

/* Tab Bar Container */
.tabBarContainer {
  position: fixed;
  top: 7%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

/* Logo */
.logo {
  position: absolute;
  left: 40px;
  color: #ffffff;
  font-size: 32px;
  font-weight: 700;
  transform: translateY(-50%);
  top: 50%;
}

/* Tab Bar */
.tabBar {
  background-color: rgba(77, 77, 77, 0.5);
  border-radius: 30px;
  padding: 10px 40px;
  backdrop-filter: blur(10px);
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 5px 100px rgba(16, 53, 28, 0.7);
}

.tabList {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

/* Tab */
.tabList a {
  color: #ffffff;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  transition: all 0.3s ease;
  padding: 10px 20px;
}

.tabList a:hover {
  color: #006e27;
}



/* Mobile Adjustments */
@media (max-width: 768px) {
  .tabBarContainer {
    top: 5%;
    position: fixed;
  }

  .tabBar {
    width: 50%;
    margin: 0 auto;
    padding: 10px 20px;
  }
  
  .logo {
    font-size: 14px;
    left: 20px;
  }
  
  .tabList {
    gap: 7px;
    max-width: 20px;
  }
  
  .tabList a {
    font-size: 14px;
    padding: 8px 12px;
  }
}